@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  /* color: #eb35f1; */
  color: #c31cc8;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #c31cc8;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Blog preview / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 2px 3px 2px #e48ee7;
}
.blog-preview h2 {
  font-size: 1.5rem;
  color: #c31cc8;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
